<div class="ui segments">
  <div class="ui green inverted segment">
    <h3><i class="magic icon"></i>Generate Short Link</h3>
  </div>
  <div class="ui segment">
    <%= form_for @post do |f| %>
    <div class="field">
      <%= f.label :url, "Copy and paste your very long URL here:" %>
      <%= f.text_field :url, :class => "ui input segments new_input", :placeholder => "e.g. https://verylongurl.com", :required => 'true', :type => "url" %>
    Click here to:  <%= f.text_field :short_url, :class => "ui input segments", :placeholder => "E.g. Get relief", :required => 'true' %>
    </div>
    <div class="actions">
    <%= f.submit 'Submit', :class => "ui green button" %>
    </div>
    <% end %>
  </div>
</div>
