<h3 id="notice" class="ui center aligned header"><%= notice %></h3>
<div class="ui blue inverted segment">

  <%= render 'form' %>

  <% @posts.each do |post| %>
    <div class="ui segment stackable two column grid">
      <div class="column ui divided selection list">
        <a class="item" target="_blank" href="<%= post.url %>">
          <div class="ui red horizontal label">Long URL</div>
          <%= post.url %>
        </a>
        <a class="item" target="_blank" href="<%= post.short_url %>">
          <div class="ui blue horizontal label">Short URL</div>
          <%= post.short_url %>
        </a>
      </div>
      <div class="column float right">
      <%= button_to 'Show', post, :class => "ui green basic button", :method => :get %>
      <%= button_to 'Edit', edit_post_path(post), :class => "ui blue basic button", :method => :get %>
      <%= button_to 'Delete', post, :class => "ui red basic button ", method: :delete, data: { confirm: 'Wait! Are you sure?' } %>
      </div>
    </div>
  <% end %>
</div>
