<p id="notice"><%= notice %></p>

<p>
  <strong>Long URL:</strong>
  <a target="_blank" href="<%= @post.url %>"><%= @post.url %></a>
  <br>
  <strong>Short URL:</strong>
  <a target="_blank" href="<%= @post.short_url %>"><%= @post.short_url %></a>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
