<h3 id="notice" class="ui center aligned header"><%= notice %></h3>

<div class="ui blue inverted segment">

  <div class="ui segment stackable two column grid">
    <div class="column ui divided selection list">
      <a class="item" target="_blank" href="<%= @post.url %>">
        <div class="ui red horizontal label">Long URL</div>
        <%= @post.url %>
      </a>
      <a class="item" target="_blank" href="<%= @post.short_url %>">
        <div class="ui blue horizontal label">Short URL</div>
        <%= @post.short_url %>
      </a>
    </div>
  </div>

<div class="ui buttons">
  <%= link_to 'Back', posts_path, :class => "ui button" %>
  <div class="or"></div>
  <%= link_to 'Edit', edit_post_path(@post), :class => "ui green button", :method => :get %>
  <div class="or"></div>
  <%= link_to 'Delete', @post, :class => "ui red button", method: :delete, data: { confirm: 'Wait! Are you sure?' } %>
</div>

<%= render "form_sms" %>

</div>
